.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
}

.app__body {
    display: flex;
    /* margin-top: -50px; */
    height: 95vh;
    width: 95vw;
    background-color: #ededed;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
    display: none;
}